@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&display=swap');

:root {
    --font1: verdana, Geneva, Tahoma, sans-serif;
    --font2:  "Noto Sans JP";
    --font3:"Bitcount Prop Single", system-ui;
}

* { margin: 0px;        
    padding: 0px;
}

html,body {

    min-height: 100vh;
    background-color: rgb(6, 0, 0);
    font-family: var(--font3);
}

header {
background-color: rgb(7, 0, 7);
color: aliceblue;
text-align: center;
font-family: var(--font3);
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps;
}

header > p {
padding-bottom: 50px;

}

header a, footer a {
color: aliceblue;
text-decoration: none;
font-weight: bolder;
}

header a:hover,footer a:hover{

    text-decoration: underline;
}

section{
padding-top: 10%vh;
padding-bottom:10%vh;
padding-left: 30px;
line-height: 2em;
font-family: var(--font3);
}

section >p {
padding-bottom: 1em;
padding-top: 5px;

}

section.normal {
    background-color: aliceblue;
    color: rgb(0, 0, 0); 
}

section.imagem {

    background-color: aquamarine;
    color: aliceblue;
    box-shadow: inset 6px 6px 13px 0px rgba(4, 4, 4, 0.48);
    background-attachment: fixed; 
}

section.imagem >p{
background-color: rgba(0, 0, 0, 0.009);
text-shadow: 1px 1px 0px black;

}

section#img01{
background-image: url(../imagens/img1.png);
background-position: center;
background-size: cover;
}
section#img02{ 
background-image: url(../imagens/img2.png);
background-position: center;
background-size: cover;

}

footer{
    background-color: black;
    text-align: center;
    color: aliceblue;
    padding: 10px;
}

